<div class="donateModal modal fade" id="donateModal">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Amount</h5>
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="donateAmounts">
                                <li><a href="#!" class="donateAmount">Rs. 500</a></li>
                                <li><a href="#!" class="donateAmount selected">Rs. 1000</a></li>
                                <li><a href="#!" class="donateAmount">Rs. 5000</a></li>
                                <li><input type="number" class="form-control typeDonateAmount" placeholder="Add Amount"></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-primary">Proceed to Pay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="eventsModal modal fade" id="eventsModal">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">X</button>
                <div class="eventsModal__img">
                    <img src="img/upcomingEvents/upcomingEvents-img4.jpg" alt="">
                </div>
                <div class="eventsModal__content">
                    <h3 class="heading">Christmas event</h3>
                    <p class="address">Venue: M62 JanakpuriStreet 21 | Time:10:00am | 10.5.2020</p>
                    <p class="discription">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on </p>
                    <a href="#!" class="btn btn-primary interested-btn">interested</a>
                </div>
            </div>
        </div>
    </div>
</div>