<div class="donateModal modal fade" id="donateModal">
    <div class="modal-dialog lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">X</button>
                <h5 class="modal-title">Each Time You Donate, You’re Helping Someone</h5>
            </div>
            <div class="modal-body">
                <form class="donateModal__form">
                    <div class="donateModal__box donateModal__box--fullWidth">
                        <ul class="donateAmounts">
                            <li><a href="#!" class="donateAmount">Rs. 500</a></li>
                            <li><a href="#!" class="donateAmount">Rs. 1000</a></li>
                            <li><a href="#!" class="donateAmount">Rs. 5000</a></li>
                            <li><a href="#!" class="donateAmount selected" id="supriseUsBtn">Suprise Us</a></li>
                        </ul>
                    </div>
                    <div class="donateModal__box donateModal__box--fullWidth">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="donateModal__box donateModal__box--hide">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Donation Amount">
                        </div>
                    </div>
                    <div class="donateModal__box">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email ID">
                        </div>
                    </div>
                    <div class="donateModal__box">
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="donateModal__box">
                        <div class="form-group">
                            <label class="checkbox">
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__slider"></span>
                                <span class="checkbox__text">
                                    <span class="title">Donate Anonymously</span>
                                    <span class="subtitle">Your Donation will be marked Anonymous</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="donateModal__box">
                        <div class="form-group">
                            <label class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="myCheckbox" onclick="myFunction()">
                                <span class="checkbox__slider"></span>
                                <span class="checkbox__text">
                                    <span class="title">I Would you like to leave a heartly note for them</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="donateModal__box donateModal__box--fullWidth">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your Note.." id="yourNote"></textarea>
                        </div>
                    </div>
                    <div class="donateModal__box donateModal__box--fullWidth donateModal__box--right">
                        <button type="submit" class="btn btn-primary">Proceed to Pay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="eventsModal modal fade" id="eventsModal">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">X</button>
                <div class="eventsModal__img">
                    <img src="img/upcomingEvents/upcomingEvents-img4.jpg" alt="">
                </div>
                <div class="eventsModal__content">
                    <h3 class="heading">Christmas event</h3>
                    <p class="address">Venue: M62 JanakpuriStreet 21 | Time:10:00am | 10.5.2020</p>
                    <p class="discription">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on </p>
                    <a href="#!" class="btn btn-primary interested-btn">interested</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="startFundraiserModal modal fade" id="startFundraiserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>For faster fundraising, upgrade your plan</h1>
                <div class="startFundraiserModal__plans">
                    <div class="startFundraiserModal__plan">
                        <div class="startFundraiserModal__name">
                            <h2>Collaborate</h2>
                            <hr class="plan-divider">
                            <img class="recommended-tag" src="img/startfundraiser/reccomded.png">
                        </div>
                        <div class="startFundraiserModal__fees">
                            <h3>8%</h3>
                            <span>Platform Fee<sup><strong>*</strong></sup></span>
                        </div>
                        <hr>
                        <div class="startFundraiserModal__features">
                            <ul>
                                <li class="valid">Automated fundraiser story support</li>
                                <li class="valid">Multiple donation methods</li>
                                <li class="valid">Personalised fundraising dashboard</li>
                                <li class="valid">Email/Chat support</li>
                                <li class="valid">Real-time donation tracking using iOS / Android App</li>
                                <li class="valid">Faster fundraiser approval / withdrawals</li>
                                <li class="valid">Eligible for matching donations*</li>
                                <li class="valid">Relationship manager</li>
                                <li class="valid">80G tax benefits</li>
                                <li class="valid">Video fundraising appeal</li>
                                <li class="valid">Enhanced visibility &amp; Customized Outreach</li>
                            </ul>
                            <div class="btn-section text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createdFundraiserModal" data-dismiss="modal">Select &amp; Continue</button>
                            </div>
                        </div>
                    </div>
                    <div class="startFundraiserModal__plan">
                        <div class="startFundraiserModal__name">
                            <h2>Assisted</h2>
                            <hr class="plan-divider">
                        </div>
                        <div class="startFundraiserModal__fees">
                            <h3>5%</h3>
                            <span>Platform Fee<sup><strong>*</strong></sup></span>
                        </div>
                        <hr>
                        <div class="startFundraiserModal__features">
                            <ul>
                                <li class="valid">Automated fundraiser story support</li>
                                <li class="valid">Multiple donation methods</li>
                                <li class="valid">Personalised fundraising dashboard</li>
                                <li class="valid">Email/Chat support</li>
                                <li class="valid">Real-time donation tracking using iOS / Android App</li>
                                <li class="valid">Faster fundraiser approval / withdrawals</li>
                                <li class="valid">Eligible for matching donations*</li>
                                <li class="valid">Relationship manager</li>
                                <li class="notvalid">80G tax benefits</li>
                                <li class="notvalid">Video fundraising appeal</li>
                                <li class="notvalid">Enhanced visibility &amp; Customized Outreach</li>
                            </ul>
                            <div class="btn-section text-center">
                                <button type="button" class="btn btn-border-primary" data-toggle="modal" data-target="#createdFundraiserModal" data-dismiss="modal">Switch Plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="startFundraiserModal__plan">
                        <div class="startFundraiserModal__name">
                            <h2>Self-Driven</h2>
                            <hr class="plan-divider">
                        </div>
                        <div class="startFundraiserModal__fees">
                            <h3>0%</h3>
                            <span>Platform Fee<sup><strong>*</strong></sup></span>
                        </div>
                        <hr>
                        <div class="startFundraiserModal__features">
                            <ul>
                                <li class="valid">Automated fundraiser story support</li>
                                <li class="valid">Multiple donation methods</li>
                                <li class="valid">Personalised fundraising dashboard</li>
                                <li class="valid">Email/Chat support</li>
                                <li class="valid">Real-time donation tracking using iOS / Android App</li>
                                <li class="notvalid">Faster fundraiser approval / withdrawals</li>
                                <li class="notvalid">Eligible for matching donations*</li>
                                <li class="notvalid">Relationship manager</li>
                                <li class="notvalid">80G tax benefits</li>
                                <li class="notvalid">Video fundraising appeal</li>
                                <li class="notvalid">Enhanced visibility &amp; Customized Outreach</li>
                            </ul>
                            <div class="btn-section text-center">
                                <button type="button" class="btn btn-border-primary" data-toggle="modal" data-target="#createdFundraiserModal" data-dismiss="modal">Switch Plan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="createdFundraiserModal modal fade" id="createdFundraiserModal">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="createdFundraiserModal__close" data-dismiss="modal" aria-label="Close">X</button>
				<div class="createdFundraiserModal__top">
                    <img src="img/startfundraiser/green-circle-big.png">
                    <span>0% Platform charges have been applied to your fundraiser</span>
				</div>
				<div class="createdFundraiserModal__bottom">
                    <h3>To change your plan get in touch with your relationship manager.</h3>
                    <h3>Contact Details:</h3>
                    <h3><a target="_blank" href="mailto:info@impactguru.com">info@impactguru.com</a> or call- 1800 1020 380</h3>
				</div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheckbox");
        var text = document.getElementById("yourNote");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>