<div class="donateModal modal fade" id="donateModal">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Amount</h5>
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="donateAmounts">
                                <li><a href="#!" class="donateAmount">Rs. 500</a></li>
                                <li><a href="#!" class="donateAmount selected">Rs. 1000</a></li>
                                <li><a href="#!" class="donateAmount">Rs. 5000</a></li>
                                <li><input type="number" class="form-control typeDonateAmount" placeholder="Add Amount"></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-primary">Proceed to Pay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>