<div class="siteLoaderWrap">
    <div class="siteLoaderWrap__container">
        <div class="spinner1"></div>
        <div class="spinner2"></div>
    </div>
</div>

<div class="backtoTop" id="backtoTop"><img src="img/back_arrow.png"></div>

@@include('./_modals.html')

<!-- Javascripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mCustomScrollbar.js"></script>
<script src="js/slick.js"></script>
<script src="js/functions.js"></script>
<script src="js/app.min.js"></script>