@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

@font-face {
    font-family: 'quikhand_regular';
    src: font('quikhand_regular.eot');
    src: font('quikhand_regular.eot') format('embedded-opentype'),
         font('quikhand_regular.woff2') format('woff2'),
         font('quikhand_regular.woff') format('woff'),
         font('quikhand_regular.ttf') format('truetype'),
         font('quikhand_regular.svg#quikhand_regular') format('svg');
}
