.staticBanner {
    min-height: 32rem;
    background-repeat: no-repeat;
    background-size: cover;

    &.eventsPage {
        background-image: url(../img/backgrounds/events-bg.jpg);
    }

    &.aboutusPage {
        background-image: url(../img/backgrounds/aboutus-bg.jpg);
    }

    &.startFundraiserPage {
        background-image: url(../img/backgrounds/startFundraiser-bg.jpg);
    }

    &.contactusPage {
        background-image: url(../img/backgrounds/contactus-bg.jpg);
        min-height: 67rem;
    }

    &.browseFundraisersPage {
        background-image: url(../img/backgrounds/browserFundraisers-bg.jpg);
    }
}